:root {
    --primary-color: #6C63FF;
    --secondary-color: #f5f2fe;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


h2 {
    margin-top: 60px;
    font-size: 48px;
}

h1 {
    font-size: 96px;
    font-weight: 600;
}

h3 {
    font-size: 24px;
    opacity: 0.7;
}

p {
    font-size: 18px;
    line-height: center;
}

.btns {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 16px;
}

.btns a {
    margin: 20px;
}


.primary-btn {
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    background: var(--primary-color);
    color: var(--secondary-color);
    box-shadow: var(--box-shadow);
}

.secondary-btn {
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

h4 {
    font-size: 48px;
}

.about-me {
    text-align: center;
}

.about img {
    box-shadow: var(--box-shadow);
}

#contact a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 28px;
    color: var(--primary-color);
}

#contact a:hover {
    text-decoration: underline;
}

@media (max-width: 576px) {
    .home-image {
        display: none;
    }

    .project-container {
        text-align: center;
    }
}